/* COLOR SCHEME
    background: 394048;
    foreground: 363940;
    green:      21c8b5;
    blue:       0296b4;
    gray:       373b40;

 */

 .text-mine-green{
    color: #21c8b5;
}

.text-mine-blue{
    color: #0296b4;
}

.text-mine-gray{
    color: #373b40;
}


body {
    background: #394048;
}

.site-title{
	display: inline;
    text-decoration: none;
    background-image: linear-gradient(transparent, transparent),linear-gradient(transparent, transparent),linear-gradient(to right, #21c8b5, #0296b4);
    background-repeat: no-repeat;
    background-position: 120%, 122%, 0 130%;
    background-size: 100% 10px;
}

.current-nav{
    display: inline;
    text-decoration: none;
    background-image: linear-gradient(transparent, transparent),linear-gradient(transparent, transparent),linear-gradient(to right, #0296b4, #394048);
    background-repeat: no-repeat;
    background-position: 120%, 122%, 0 130%;
    background-size: 100% 10px;
}

.code-viewer{
    font-size: small;
    background-color: #363940;
    padding: 2px 15px;
}

div.card-lg{
    height: 400px;
    //border: 2px solid #729B79;
}

.demo-card{
    transition: all .2s ease-in-out;
    height: #839095;
}

.demo-card:hover{
    transform: scale(1.08);
    z-index: 1;
}

.demo-banner{
    background-color: white;
    border-radius: 0px 0px 8px 8px;
    border-top: 1px solid black;
}

a:link {
    text-decoration: none;
}

.empty-box{
    height: 10px;
}

.top-buffer { margin-top:20px; }

.tool-div{
    height:150px;
    width: 150px;
    //border: 1px solid green;
}

.pulse-icon{
	animation: pulse 2s infinite;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
}

.render-py-breaks{
	white-space:pre-wrap;
}

.small-text{
	font-size: x-small;
}

.reactive{
    transition: all .2s ease-in-out;
}

.reactive:hover{
    transform: scale(1.05);
    border: 1px solid #21c8b5;
}

@keyframes pulse {
	0% {
		transform: translate(0px,0px);
	}

	12% {
		transform: translate(0px,4px);
	}

	25% {
		transform: translate(0px,0px);
	}

	50% {
		transform: translate(0px,4px);
	}

	100% {
		transform: translate(0px,0px);
	}

}


/* Timeline css from here */


/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #363940;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.tlcontainer {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.tlcontainer::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -12px;
  background-color: #363940;
  border: 4px solid #21c8b5;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #363940;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent #363940 transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -13px;
}

/* The actual content */
.tlcontent {
  padding: 20px 30px;
  background-color: #363940;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .tlcontainer {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .tlcontainer::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 18px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

.fa-gradient-education{
  font-size: 32px;
  color: #9c47fc;
  background: -webkit-linear-gradient(#00d4ff, #094679);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-gradient-extracurriculur{
  font-size: 32px;
  color: #9c47fc;
  background: -webkit-linear-gradient(#f8ff00 , #3ad59f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-gradient-career{
  font-size: 32px;
  color: #ff6d92 ;
  background: -webkit-linear-gradient(#f5b200, #fc636b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 772px) {
    .profile-background-sm{
        background: url("/static/myImgs/profile-picture-3.jpeg") 7%;
        background-position: left -200px;
        background-repeat: no-repeat;
        background-size: 1200px 950px;
    }
}

@media only screen and (min-width: 772px) {
    .profile-background{
        background: url("/static/myImgs/profile-picture-3.jpeg") 25%;
        background-repeat: no-repeat;
        background-size: 1200px 950px;
    }
}

.profile-div{
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.no-border{
    border: none !important;
}

canvas{
    background-color: transparent; 
    width: 100%;
    height: auto;
}