{% extends 'myportfolio/index.html' %}
{% load static %}
{% block title %} Demos View {% endblock %}

{% block content %}
<div class="card-columns mt-5">
    <a href="{% url 'portfolio:processing-demo' %}">
        <div class="card text-white bg-dark reactive">
            <img class="card-img-top" src="{% static 'myImgs/sorting-demo.JPG' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Sorting Algorithm</h5>
                <p class="card-text">See a sorting-algorithm in action</p>
            </div>
        </div>
    </a>
    <a href="{% url 'portfolio:definitions-api-demo' %}">
        <div class="card text-white bg-dark reactive">
            <img class="card-img-top" src="{% static 'myImgs/dictionary-demo.JPG' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">REST API Demo</h5>
                <p class="card-text">Try this dictionary REST API</p>
            </div>
        </div>
    </a>
</div>

{% endblock %}