{% extends 'myportfolio/index.html' %}
{% load static %}
{% block title %} Experience View {% endblock %}

{% block content %}
<div class="timeline text-white">
    <div class="tlcontainer right">
      <div class="tlcontent">
        <h2>August 2017 <i class="fa fa-university fa-gradient-education"></i></h2>
        <p>Began studying at Florida International University.</p>
      </div>
    </div>
  <div class="tlcontainer left">
    <div class="tlcontent">
      <h2>January 2019 <i class="fa fa-flask fa-gradient-extracurriculur"></i></h2>
      <p>Joined biomedical engineering research group at Florida International University. Began development of
      Android mobile application aiming to provide cost-effective health-data acquisition for health-professionals
      in developing countries.</p>
    </div>
  </div>
    <div class="tlcontainer right">
      <div class="tlcontent">
        <h2>June 2019 <i class="fa fa-handshake-o fa-gradient-career"></i></h2>
        <p>Hired as a Full-time Software Developer at Trax USA Corp. Started out as a SOAP/REST API developer, later
        transitioned into Full-stack JSF development.</p>
        <h3>Skills learned/improved</h3>
        <p>RESTful API development, application server familiarity (WildFly, GlassFish, JBoss), hands-on client interaction,
        teamwork, communication, Oracle PL-SQL, MySQL, Spring Hibernate</p>
      </div>
    </div>
    <div class="tlcontainer left">
      <div class="tlcontent">
        <h2>December 2019 <i class="fa fa-android fa-gradient-extracurriculur"></i></h2>
        <p>Completion of biomedical engineering collaboration. Turned in Android application and accompanying Bluetooth
        device written in Python/Arduino C++.</p>
        <h3>Skills learned/improved</h3>
        <p>Android framework, Model-View-Controller, Bluetooth communication, C programming, Python, embedded software
        development</p>
      </div>
    </div>
    <div class="tlcontainer right">
      <div class="tlcontent">
        <h2>May 2020 <i class="fa fa-graduation-cap fa-gradient-education"></i></h2>
        <p>Graduated from Florida International University with Bachelor's degree in Information Technology</p>
        <h3>Skills learned/improved</h3>
        <p>Fundamental programming concepts: design patterns, data structures, Python, C#, Java, component-based programming</p>
      </div>
    </div>
    <div class="tlcontainer left">
      <div class="tlcontent">
        <h2>May 2020 <i class="fa fa-plane fa-gradient-career"></i></h2>
        <p>Completion of first major project at Trax. The product was a JSF web-application which functioned as a
        real-time management visualization tool used to manage airline repairs. This product was created by myself in
        close collaboration with one of the organization's customers.</p>
        <h3>Skills learned/improved</h3>
        <p>JSF, HTML/CSS/JavaScript, efficient SQL, UI Design</p>
      </div>
    </div>
    <div class="tlcontainer right">
      <div class="tlcontent">
        <h2>August 2020 <i class="fa fa-briefcase fa-gradient-career"></i></h2>
        <p>Entered testing phase for next major project at Trax. Product is a proprietary ticketing system used to
        manage customer software inquiries. This product is also a JSF web application; however, extra time was encouraged
        by the company in order to establish new and improved architecture for future web applications.</p>
        <h3>Skills learned/improved</h3>
        <p>Java EJB, dependency injection, session management, jQuery</p>
      </div>
    </div>
    <div class="tlcontainer left">
      <div class="tlcontent">
        <h2>September 2020 <i class="fa fa-thumbs-up fa-gradient-extracurriculur"></i></h2>
        <p>Completion of this website.</p>
        <h3>Skills learned/improved</h3>
        <p>Python, Django framework, Bootstrap, HTML/CSS/JavaScript, responsive UI design, production deployment and web-hosting</p>
      </div>
    </div>
</div>
{% endblock %}