{% extends 'myportfolio/index.html' %}
{% block title %} Detail View {% endblock %}

{% block content %}
<div class="container my-container">
    <div class="row my-row justify-content-around">

        <div class="col-5 my-col expand-col card-lg">
            <div class="container my-container">l
                <div class="row my-row justify-content-center aign-items-center">
                    <div class="col-6 my-col">
                        <h3>Experience</h3>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-5 my-col expand-col card-lg">
            <div class="container my-container">
                <div class="row my-row justify-content-center align-items-center">
                    <div class="col-6 my-col">
                        <h3>Demos</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}